.project {
    margin-left: 23rem;
    margin-right: 2rem;
    margin-bottom: 60px;
}
.project-title {
    margin-bottom: 25px;
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    color: #999999;
    letter-spacing: 5px; 
}
.joinotes-img {
    height: 500px;
    width: 300px;
}