.sidebar-item {
    background: #f5f5f5;
    span {
      i.icon {
        margin-right: 10px;
        color: #888888;
      }
    }
}
  
.sidebar-item-alignment-container {
    display: flex;
    align-items: center;
}